{% extends "blog/layout.html" %}
{% load bootstrap3 %}

{% block content %}
  
<div class="container">    
    
     <div id="example" style="width:1140px;overflow:hidden;">                    
        <script>         
            var raw_data = [                    
                {% for post in post_list %}
                    {pk:'<a href="{% url 'blog:post_delete' post.pk %}" class="ajax-post-confirm" data-target-id="post-{{ post.pk }}" data-message="삭제하시겠습니까?">'+'{{post.pk}}'+'</a>',
                     team:'{{post.team}}',
                     category:'{{post.category}}',
                     level3:'{{post.level3}}',
                     level4:'{{post.level4}}',
                     invest_name:'{{post.invest_name}}',
                     detail1:'{{post.detail1}}',
                     variant:'{{post.variant}}',
                     manufacturing:'{{post.manufacturing}}',
                     column_ancestor_money:'{{post.column_ancestor_money}}',
                     column_ancestor_remark:'{{post.column_ancestor_remark|linebreaks}}',
                     column_1_money:'{{post.column_1_money}}',
                     column_2_money:'{{post.column_2_money}}',
                     column_3_money:'{{post.column_3_money}}',
                     column_current_money:'{{post.column_current_money}}',
                     column_current_remark:'{{post.column_current_remark|linebreaks}}',
                     update_date:'{{post.updated_at}}',
                    },
                {% endfor %}
                ];
            
            var container = document.getElementById('example');
            
            var raw_autocomplete_team = [];
            var list_autocomplete_team = [];
            
            for (var i=0; i<raw_data.length; i++) {
                    raw_autocomplete_team.push(raw_data[i]['team']);
            };
                       
            $.each(raw_autocomplete_team, function(i, el){
                if($.inArray(el, list_autocomplete_team) === -1) list_autocomplete_team.push(el);
            });
           
            var hot = new Handsontable(container, {
                data: raw_data,
                rowHeaders: true,
                colHeaders: ['PK','팀','분야','3레벨','4레벨','투자명','투자상세1','사양','공법','DN8 종투심','산출근거',
                             '1차추정','2차추정','3차추정','연투심','산출근거','입력일'],
                columns: [
                    {data:'pk', renderer: 'html'},
                    {data:'team', type: 'autocomplete', source: list_autocomplete_team},
                    {data:'category', renderer: 'html'},
                    {data:'level3', type: 'autocomplete'},
                    {data:'level4', type: 'autocomplete'},
                    {data:'invest_name', renderer: 'html'},
                    {data:'detail1', type: 'text'},
                    {data:'variant', type: 'text'},
                    {data:'manufacturing', type: 'text'},
                    {data:'column_ancestor_money', type: 'numeric', numericFormat: {pattern: '0,0.0'}},
                    {data:'column_ancestor_remark', renderer: 'html'},
                    {data:'column_1_money', type: 'numeric', numericFormat: {pattern: '0,0.0'}},
                    {data:'column_2_money', type: 'numeric', numericFormat: {pattern: '0,0.0'}},
                    {data:'column_3_money', type: 'numeric', numericFormat: {pattern: '0,0.0'}},
                    {data:'column_current_money', type: 'numeric', numericFormat: {pattern: '0,0.0'}},
                    {data:'column_current_remark', renderer: 'html'},
                    {data:'update_date', type: 'date', dateFormat: 'MM/DD/YYYY'},
                ],
                width: '100%',                
                filters: true,
                dropdownMenu: true,
                manualColumnResize: true,
                manualRowResize: true,
                minSpareRows: 10,
                });  
            
            $(function() {
                    $('.htCore tbody tr td .ajax-post-confirm').click(function(e){
                        e.preventDefault();
                        var url = $(this).attr('href');
                        var target_id = $(this).data('target-id');
                        var message = $(this).data('message');
                        if(confirm(message)){
                            $.post(url)
                                .done(function(){                                      
                                      window.location.replace("{% url 'blog:post_list' %}");
                                      })
                                .fail(function(xhr,textStatus,error){
                                    alert('failed : '+error);
                                    })                                
                        }
                    })
            });   

            /*
            $('.htCore tbody tr td .post-detail').click(function(e) {
                e.preventDefault();
                var detail_url = $(this).attr('href');
                var detail_pk = $(this).html();                
                $.get(detail_url)
                    .done(function(json_obj){                        
                        var $modal = $('#post-modal');
                        $modal.find('.modal-title').html(json_obj.pk);
                        $modal.find('.modal-body-content1').html(json_obj.team);
                        $modal.find('.modal-body-content2').html(json_obj.invest_name);                        
                        $modal.find('.btn-detail').attr('href',detail_url);
                        $modal.modal();
                    })
                    .fail(function(xhr,textStatus,error){
                        alert('failed : '+error);
                    });                
            });
            */
            
            /*
            $(function(){
               $('#post-form').submit(function(e){
                   e.preventDefault();
                   var $form = $(this);
                   var $submit = $form.find('[type=submit]');
                   $submit.prop('disabled',true);
                   var url = $form.attr('action');
                   var data = $form.serialize()
                   $.post(url, data)
                       .done(function(obj){
                           if (obj.is_success===false){
                               alert(obj.team);
                           }
                           else {
                               var raw_data_more = [
                                    {pk:obj['pk'],
                                     team:obj['team'],
                                     category:obj['category'],
                                     level3:obj['level3'],
                                     level4:obj['level4'],
                                     invest_name:obj['invest_name'],
                                     detail1:obj['detail1'],
                                     variant:obj['variant'],
                                     manufacturing:obj['manufacturing'],
                                     column_ancestor_money:obj['column_ancestor_money'],
                                     column_ancestor_remark:obj['column_ancestor_remark'],
                                     column_1_money:obj['column_1_money'],
                                     column_2_money:obj['column_2_money'],
                                     column_3_money:obj['column_3_money'],
                                     column_current_money:obj['column_current_money'],
                                     column_current_remark:obj['column_current_remark'],
                                     update_date:obj['update_date'],
                                     },
                               ];                              
                               raw_data = raw_data.concat(raw_data_more);
                               hot.getInstance().loadData(raw_data);
                               hot.getInstance().render();
                               $form[0].reset();
                               //window.location.replace("{% url 'blog:post_list' %}");
                           }                           
                       })
                       .fail(function(xhr,textStatus,error){
                           alert('failed : '+error);
                       })
                       .always(function(){
                           $submit.prop('disabled',false);
                       })  
               })
            });
            */
            
            $(function(){
                
                $('.post-form-btn').click(function(e){
                        e.preventDefault();
                        var action_url = $(this).attr('href');
                        $.get(action_url)
                            .done(function(form_html){
                                var $modal = $('#post-form-modal');
                                $modal.find('.modal-body').html(form_html);
                                $form = $modal.find('.modal-body form')
                                $form.attr('action',action_url);
                                $modal.modal();
                            })
                            .fail(function(xhr,textStatus,error){
                               alert('failed : '+error);
                            })
                });
                
                $(document).on('submit', '#post-form-modal form', function(e){              
                       e.preventDefault();
                       var $form = $(this);
                       var $submit = $form.find('[type=submit]');
                       $submit.prop('disabled',true);
                       var url = $form.attr('action');
                       var data = $form.serialize()
                       $.post(url, data)
                           .done(function(html){
                               var $resp = $(html);
                               if ($resp.find('.has-error').length>0){
                                   var fields_html = $resp.html();
                                   $('#post-form-modal .modal-body form').html(fields_html);
                               }
                               else {
                                   $form[0].reset();
                                   $('#post-form-modal').modal('hide');                                   
                                   window.location.replace("{% url 'blog:post_list' %}");
                               }                           
                           })
                           .fail(function(xhr,textStatus,error){
                               alert('failed : '+error);
                           })
                });
                
            });            
            
        </script>
     <hr />      
     </div>    
     
     <div>
             <!--
             <form id="post-form" action="{% url 'blog:post_new' %}" method="post">
                 <div style="text-align: right;">
                     <input type="submit" class="btn btn-primary" />
                 </div> 
                 {% csrf_token %}
                 {% bootstrap_form post_form %}
             </form>
             -->
         <hr />
             <a href="{% url 'blog:post_new' %}" class="post-form-btn btn btn-primary">추가</a>
     </div>            

        <div class="modal fade" id="post-form-modal" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Post Form</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
              </div>
              <div class="modal-body">
              </div>              
            </div>
          </div>
        </div>

</div> 

{% endblock %}