{% extends "layout.html" %}
{% load bootstrap3 %}

{% block content %}

<div class="container" style="width:1600px; max-width:1600px; overflow: hidden;">    
    
    <div style="text-align:right;">
        <button id="excel" class="btn btn-primary">엑셀 다운로드</button>
        <button id="save" class="btn btn-primary">저장</button>
        <hr />
    </div>            

    var raw_data = [                    
        {% for invest in invest_list %}
            {
                team: '{{invest.team}}', cat: '{{invest.cat}}', lev3: '{{invest.lev3}}', lev4: '{{invest.lev4}}',
                col_A: '{{invest.col_A}}', col_B: '{{invest.col_B}}', col_C: '{{invest.col_C}}', col_D: '{{invest.col_D}}', col_E: '{{invest.col_E}}',
                col_F: '{{invest.col_F}}', col_G: '{{invest.col_G}}', col_H: '{{invest.col_H}}', col_I: '{{invest.col_I}}', col_J: '{{invest.col_J}}',
                col_K: '{{invest.col_K}}', col_L: '{{invest.col_L}}', col_M: '{{invest.col_M}}', col_N: '{{invest.col_N}}', col_O: '{{invest.col_O}}',
            },
        {% endfor %}
    ];

    var col_data = [                    
        {data:'team', title:'팀', },   
        {data:'cat', title:'분야', },
        {data:'lev3', title:'3레벨', },
        {data:'lev4', title:'4레벨', },
        {data:'col_A', title:'투자명', },
        {data:'col_B', title:'투자상세', },
        {data:'col_C', title:'목표투자비', },
        {data:'col_D', title:'1차추정', },
        {data:'col_E', title:'1차사전집행', },
        {data:'col_F', title:'2차추정', },
        {data:'col_G', title:'2차사전집행', },
        {data:'col_H', title:'3차추정', },
        {data:'col_I', title:'기획예산', },
        {data:'col_J', title:'집행품의', },
        {data:'col_K', title:'컬럼1', },
        {data:'col_L', title:'컬럼2', },
        {data:'col_M', title:'컬럼3', },
        {data:'col_N', title:'컬럼4', },
        {data:'col_O', title:'컬럼5', }
    ];
    
    <div id="example" style="width:1600px; max-width:1600px; overflow: hidden;">
        <hr />      
    </div>    
    
</div> 

{% endblock %}